{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>
    {% block login_box %}{% endblock login_box %}

    {% block general_layout %}
    
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'startpage' %}">OMGTasks</a>
        <form action="{% url 'global_search' %}" method="get" class="w-100">
          <input name="search" 
                 class="form-control form-control-dark w-100" 
                 type="text" 
                 placeholder="Search" 
                 aria-label="Search"
                 value="{{ q_search }}">
        </form>
        <ul class="navbar-nav px-3 navbar-expand">
          <li class="nav-item text-nowrap mr-4">
            <a class="nav-link" href="{% url 'profile' %}">{{ request.user }}</a>
          </li>
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link {% if '/' == request.path %}active{% endif %}" href="/">
                    <span data-feather="home"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if 'projects' in request.path %}active{% endif %}" href="{% url 'projects:projects' %}">
                    <span data-feather="archive"></span>
                    Projects
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if '/tasks/' == request.path %}active{% endif %}" href="{% url 'tasks:tasks' %}">
                    <span data-feather="layers"></span>
                    Tasks
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if 'users' in request.path %}active{% endif %}" href="{% url 'users:users' %}">
                    <span data-feather="users"></span>
                    Users
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if '/spent_time/' == request.path %}active{% endif %}" href="{% url 'time_entries:spent_time' %}">
                    <span data-feather="clock"></span>
                    Spent time
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% if messages %}
              {% for message in messages %}
                <div class="mt-2 alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
              {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
          </main>
        </div>
      </div>
    {% endblock  %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
    <script src="{% static 'dashboard/dashboard.js' %}"></script>
    {{ form.media }}
    {% block extra_media %}{% endblock extra_media %}    
  </body>
</html>
