{% load extra_tags %}

{% if objects.has_other_pages %}
  <ul class="pagination justify-content-center mt-4">
    <li class="page-item {% if not objects.has_previous %}disabled{% endif %}">
      <a href="{% set_query_parameter full_path 'page' 1 %}" class="page-link">
        <i class="fas fa-angle-double-left"></i>
      </a>
    </li>
    <li class="page-item {% if not objects.has_previous %}disabled{% endif %}">
      <a class="page-link" href="
        {% if objects.has_previous %}
          {% set_query_parameter full_path 'page' objects.previous_page_number %}
        {% endif %}">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>

    {% for num in objects.paginator.page_range %}
      {% if objects.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>              
      {% elif num > objects.number|add:'-2' and num < objects.number|add:'2' %}
        <li class="page-item">
          <a class="page-link" href="{% set_query_parameter full_path 'page' num %}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    
    <li class="page-item {% if not objects.has_next %}disabled{% endif %}">
      <a class="page-link" href="
        {% if objects.has_next %}
          {% set_query_parameter full_path 'page' objects.next_page_number %}
        {% endif %}">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
    <li class="page-item {% if not objects.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% set_query_parameter full_path 'page' objects.paginator.num_pages %}">
        <i class="fas fa-angle-double-right"></i>
      </a>
    </li>
  </ul>
{% endif %}