{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}
{% block general_layout %}{% endblock general_layout %}

{% block login_box %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                {% if messages %}
                {% for message in messages %}
                    <div class="mt-2 alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h1>Login</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="mb-0">Don't have an account yet? <a href="{% url 'register' %}">Register</a></p>
                        <p class="mb-0">Forgot your password? <a href="{% url 'password_reset' %}">Reset</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock login_box %}