{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}
{% block general_layout %}{% endblock general_layout %}

{% block login_box %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card mt-4">
          <div class="card-header">
            <h1>Register</h1>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div>
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-muted">
            Do you already have an account? <a href="{% url 'login' %}">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock login_box %}