{% extends 'core/base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}

  <div class="d-flex align-items-center mb-4">
    <h1 class="mt-2 mr-4 d-inline-block">Projects</h1>
    <span class="d-inline-block" 
          tabindex="0" 
          data-toggle="tooltip"
          data-placement="bottom"
          {% if not user.is_superuser %}title="You don't have access to create new projects"{% endif %}>          
      <a href="{% url 'projects:new_project' %}" 
        class="btn btn-secondary btn-sm {% if not user.is_superuser %}disabled{% endif %}">
        <span data-feather="plus-circle" class="mr-2"></span>New project
      </a>
    </span>
  </div>

  <form method="get" class="form-inline mb-2">
    <label class="sr-only" for="search">Name</label>
    <input type="text"
           name="search"
           class="form-control mr-2"
           id="search"
           placeholder="Search"
           value="{{ f_search }}">

    <select name="author" class="select form-control mr-2">
      <option value="all">All authors</option>
      {% for user in users %}
        <option value="{{ user.id }}" {% if selected_author == user.id %}selected{% endif %}>
          {{ user.username }}
        </option>
      {% endfor %}
    </select>

    <select name="member" class="select form-control mr-2">
      <option value="all" selected>All members</option>
      {% for user in users %}
        <option value="{{ user.id }}" {% if selected_member == user.id %}selected{% endif %}>
          {{ user.username }}
        </option>
      {% endfor %}
    </select>

    <select name="status" class="select form-control mr-2">
      <option value="all" selected>All statuses</option>
      {% for status in statuses %}
        <option value="{{ status.id }}" {% if selected_status == status.id %}selected{% endif %}>
          {{ status.title }}
        </option>
      {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary mr-2">
      <span data-feather="filter" class="mr-2"></span>Filter
    </button>
    <a href="{% url 'projects:projects' %}" class="btn btn-danger">
      <span data-feather="delete" class="mr-2"></span>Reset
    </a>
  </form>

  {% if projects %}
    {% include 'projects/projects_list.html' %}
    {% include 'core/pagination.html' with objects=projects %}
  {% else %}
    <div class="mt-2 alert alert-secondary" role="alert">No projects found</div>    
  {% endif %}

{% endblock content %}